@model IEnumerable<SalesWebMvc.Models.Department>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create"  class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="btn btn-group-xs">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
